<!DOCTYPE HTML>
<!--
	Solid State by HTML5 UP
	html5up.net | @n33co
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>Sports UP</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="assets/css/main.css" />
		<!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
		<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
	</head>
	<body>

		<!-- Page Wrapper -->
			<div id="page-wrapper">

				<!-- Header -->
					<header id="header">
						<h1><a href="index.html">Solid State</a></h1>
						<nav>
							<% if (!user) { %>
							<a href="#menu">Login</a>
								<a href="/signup">Signup</a>
								<% } else { %>
									<a href="/logout">Welcome, <%= user.username %></a>
									<% } %>
						</nav>
					</header>

				<!-- Menu -->
					<nav id="menu">
						<div class="inner">
							<h2>Menu</h2>
							<ul class="links">
								<li><a href="index.html">Home</a></li>
								<li><a href="generic.html">Generic</a></li>
								<li><a href="elements.html">Elements</a></li>
								<li><a href="#">Log In</a></li>
								<li><a href="#">Sign Up</a></li>
							</ul>
							<a href="#" class="close">Close</a>
						</div>
					</nav>

				<!-- Wrapper -->
					<section id="wrapper">
						<header>
							<div class="inner">
								<h2>Price</h2>
								<p></p>
							</div>
						</header>

									<section>
										<h3 class="major">Table</h3>
										<h4>Default</h4>
										<div class="table-wrapper">
											<table>
												<thead>
													<tr>
														<th>No</th>
														<th>Description</th>
														<th>Price</th>
													</tr>
												</thead>
												<tbody>
													<tr>
														<td>1</td>
														<td>Ford Mustang</td>
														<td>$50/day</td>
													</tr>
													<tr>
														<td>2</td>
														<td>Dodge Challenger</td>
														<td>$55/day</td>
													</tr>
													<tr>
														<td>3</td>
														<td>Chevrolet Camaro</td>
														<td>$45/day</td>
													</tr>

												</tbody>
										</table>
										</div>
										<a href="#" onClick="alert('Your Reference Code: <%= user.username %>')" class="button special fit">Book Ford Mustang</a>
										<a href="#" onClick="alert('Your Reference Code: ')" class="button special fit">Book Dodge Challenger</a>
										<a href="#" onClick="alert('Your Reference Code: ')" class="button special fit">Book Chevrolet Camaro</a>



									</section>

									<!-- Footer -->
										<section id="footer">
											<div class="inner">
												<h2 class="major">Get in touch</h2>
												<p>Feel free to send me a message</p>
												<form method="post" action="#">
													<div class="field">
														<label for="name">Name</label>
														<input type="text" name="name" id="name" />
													</div>
													<div class="field">
														<label for="email">Email</label>
														<input type="email" name="email" id="email" />
													</div>
													<div class="field">
														<label for="message">Message</label>
														<textarea name="message" id="message" rows="4"></textarea>
													</div>
													<ul class="actions">
														<li><input type="submit" value="Send Message" /></li>
													</ul>
												</form>
												<ul class="contact">
													<li class="fa-home">
														Sports UP Inc.<br />
														2008 N. Deerpark Dr. Apt #335<br />
														Fullerton, CA 92831-1553
													</li>
													<li class="fa-phone">(714) 657-8039</li>
													<li class="fa-envelope"><a href="#">kuldeeprakibe@hotmail.com</a></li>
													<li class="fa-twitter"><a href="#">twitter.com/harshal.rio91</a></li>
													<li class="fa-facebook"><a href="#">facebook.com/harshal.rio91</a></li>
													<li class="fa-instagram"><a href="#">instagram.com/harshal.rio91</a></li>
												</ul>
												<ul class="copyright">
													<li>&copy; Sports UP Inc. All rights reserved.</li>
												</ul>
											</div>
										</section>

								</div>

							<!-- Scripts -->
								<script src="assets/js/skel.min.js"></script>
								<script src="assets/js/jquery.min.js"></script>
								<script src="assets/js/jquery.scrollex.min.js"></script>
								<script src="assets/js/util.js"></script>
								<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
								<script src="assets/js/main.js"></script>

						</body>
						</html>
